<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse5236groupthirteen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cse5236groupthirteen.RestaurantViewActivity"
            android:label="@string/title_activity_restaurant_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.AddRestaurantActivity"
            android:label="@string/title_activity_add_restaurant"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.DevActivity"
            android:label="@string/title_activity_dev"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.SubmissionViewActivity"
            android:label="@string/title_activity_submission_view"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.PrintRestaurantsActivity"
            android:label="@string/title_activity_print_restaurants"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.HomeViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.HistoryViewActivity"
            android:label="@string/title_activity_history_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.MenuViewActivity"
            android:label="@string/title_activity_menu_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.AddMenuActivity"
            android:label="@string/title_activity_add_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.PrintMenuActivity"
            android:label="@string/title_activity_print_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.AddSubmissionActivity"
            android:label="@string/title_activity_add_submission"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.PrintSubmissionsActivity"
            android:label="@string/title_activity_print_submissions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cse5236groupthirteen.dev.UpdateRestaurantGeoLocationsActivity"
            android:label="@string/title_activity_update_restaurant_geo_locations"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>